name: Test ROS 2 CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    name: Test the ROS 2 CI
    steps:
      - name: Checking out
        uses: actions/checkout@v2.3.4
      - name: Test the default configuration
        uses: ./
      - name: Test with different distribution
        uses: ./
        with:
          ros2-distro: rolling
      - name: Test with commands
        uses: ./
        with:
          pre-build: apt-get update && apt-get install -y neofetch
          post-build: neofetch
          pre-test: FOO=fofofo
          post-test: test "${FOO}" = 'fofofo'
